@import 'components/create-trade-modal.css';
@import 'components/tabs.css';

/* nav scrolling */
.nav {
    transition: border-bottom-left-radius 0.25s, border-bottom-right-radius 0.25s, background-color 0.25s, color 0.25s, box-shadow 0.25s;
}
.nav.scrolling {
    background-color: var(--white-color);
    color: var(--dark-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0.05rem 0.2rem var(--shadow-color);
}

.nav .right {
    float: right;
    min-height: 3.5rem;
    font-size: 0;
}
.nav .right .button {
    display: inline-block;
    height: 2.5rem;
    margin: 0.5rem 0;
    width: auto;
}
.nav .right .button {
    margin-right: 1.25rem;
}

.modal-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--shadow-color-dark);
    z-index: 9998;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-duration: 0.35s;
}
.modal-container:not(.active) {
    display: none;
}

/* app */
.app {
    margin: 3.5rem 0;
}

/* tab functionality */
.app.active-trades > .tabs > .tab.active-trades,
.app.completed-trades > .tabs > .tab.completed-trades,
.app.your-trades > .tabs > .tab.your-trades,
.app.notifications > .tabs > .tab.notifications,
.app.log > .tabs > .tab.log {
    display: block;
}

.app.active-trades > .tabselect > .tabbtn.active-trades,
.app.completed-trades > .tabselect > .tabbtn.completed-trades,
.app.your-trades > .tabselect > .tabbtn.your-trades,
.app.notifications > .tabselect > .tabbtn.notifications,
.app.log > .tabselect > .tabbtn.log {
    border-color: var(--white-color);
}

/* tabselect */
.app > .tabselect {
    opacity: 0.85;
}

/* tabs */
.app > .tabs > .tab .title {
    font-size: 1.75rem;
    line-height: 1.35;
    margin-bottom: 0.75rem;
}

/* log tab */
.app > .tabs > .tab.entrylist-tab .entry {
    padding: 1.25rem 0.75rem;
    border-top: 2px solid var(--white-color-transparent);
    overflow: hidden;
}
.app > .tabs > .tab.entrylist-tab .entry:last-child {
    border-bottom: 2px solid var(--white-color-transparent);
}

.app > .tabs > .tab.entrylist-tab .entry > * {
    display: block;
    float: left;
}
.app > .tabs > .tab.entrylist-tab .entry .text {
    font-size: 1.1rem;
    width: calc(100% - 15rem);
    line-height: 1.7rem;
}
.app > .tabs > .tab.entrylist-tab .entry .date {
    font-size: 1rem;
    opacity: 0.5;
    float: right;
    line-height: 1.7rem;
}
